In [5]:
import akshare as ak
import pandas as pd

## 归档一下数据

In [6]:
from sqlalchemy import create_engine
engine=create_engine(r'sqlite:///data/Au/黄金合约信息.db')

In [9]:
engine=create_engine(r'sqlite:///data/Au/黄金分钟信息.db')


pd.read_sql('2021-01-23',engine,index_col='index')

       future   Au_TD  diff       ytm
index
20:00     NaN  386.50   NaN       NaN
20:01     NaN  386.55   NaN       NaN
20:02     NaN  386.49   NaN       NaN
20:03     NaN  386.40   NaN       NaN
20:04     NaN  386.35   NaN       NaN
...       ...     ...   ...       ...
00:46  389.96  387.00  2.96  1.938702
00:47  389.94  387.00  2.94  1.925603
00:48  390.14  387.00  3.14  2.056596
00:49  390.08     NaN   NaN       NaN
00:50  390.10     NaN   NaN       NaN

[291 rows x 4 columns]

In [1]:
from au_data_crawler import get_contract_list
df=get_contract_list()

       listed_day delivery_day volume  position   tradedate
symbol
AU2106   20200518     20210616  66700  116186.0  2021-01-25
AU2104   20200317     20210416   9253   30106.0  2021-01-25
AU2108   20200716     20210817   3069   16214.0  2021-01-25
AU2102   20200116     20210208  11975   12494.0  2021-01-25
AU2110   20200916     20211018   1134   12323.0  2021-01-25
AU2112   20201117     20211216     16     416.0  2021-01-25
AU2103   20201216     20210316     17      83.0  2021-01-25
AU2202   20210118     20220216      2       2.0  2021-01-22

In [3]:
# df['symbol']

In [17]:
df.index.name='symbol'
df.to_sql('2021-01-23',engine,if_exists='replace')

In [11]:
path='./data/Au/contract_info/'
import os
files=os.listdir(path)
for file in files:
    if file[-3:]!='csv':
        continue
    date=(file[:-4])
    print(date)
    df=pd.read_csv(path+file,encoding='gbk',index_col=0)
#     print(df)
    
    df.to_sql(file[:-4],engine,if_exists='replace')

2020-12-30
2020-12-31
2021-01-05
2021-01-06
2021-01-07
2021-01-08
2021-01-09
2021-01-12
2021-01-13
2021-01-14
2021-01-15
2021-01-17
2021-01-18
2021-01-19
2021-01-20
2021-01-21
2021-01-22

In [21]:
from sqlalchemy import create_engine
engine=create_engine(r'sqlite:///data/Au/黄金分钟信息.db')

path='./data/Au/minutes/'
import os
files=os.listdir(path)
for file in files:
    if file[-3:]!='csv':
        continue
    date=(file[:-4])
    df=pd.read_csv(path+file,encoding='gbk',index_col=0)
    try:
        print(date,df.loc['15:00'].tolist())
    except:
        pass
    
#     df.to_sql(file[:-4],engine,if_exists='replace')

2021-01-05 [404.4, 399.7, 4.7, 2.649364]
2021-01-06 [404.9, 400.43, 4.47, 2.530742]
2021-01-07 [401.32, 397.51, 3.81, 2.186502]
2021-01-12 [389.22, 386.88, 2.34, 1.424298]
2021-01-13 [389.32, 386.67, 2.65, 1.624342]
2021-01-14 [386.5, 383.85, 2.65, 1.64697]
2021-01-15 [387.9, 385.03, 2.87, 1.789932]
2021-01-18 [386.82, 384.21, 2.61, 1.664096]
2021-01-19 [387.72, 384.69, 3.03, 1.9425080000000001]
2021-01-20 [388.82, 385.76, 3.06, 1.9696080000000002]
2021-01-21 [392.72, 389.55, 3.17, 2.034399]

In [29]:
import os

file_path='../my_scheduled_app/'
file_name='债券成交.db'
engine=create_engine(r'sqlite:///'+file_path+file_name)


pd.read_sql('2021-01-20',engine)

      index          债券简称  成交净价(元)  最新收益率(%)  涨跌(BP)  加权收益率(%)  交易量(亿)
0         0        20国开15   101.37    3.5300   -0.65    3.5322     NaN
1         1      20附息国债16   100.96    3.1550   -0.10    3.1599     NaN
2         2       21江苏债01   100.12    3.3600     NaN    3.3786     NaN
3         3      20附息国债12   101.55    3.7228   -1.82    3.7282     NaN
4         4      20附息国债13   100.36    2.9350   -3.48    2.9471     NaN
...     ...           ...      ...       ...     ...       ...     ...
1657   1657    18天易PPN001    99.87    7.5397    1.85    7.5397     NaN
1658   1658        15铁道09   102.93    3.5200     NaN    3.5200     NaN
1659   1659  16中信国安MTN001    89.00       NaN     NaN       NaN     NaN
1660   1660    20德泰PPN002   100.00    6.0408   -0.03    6.0408     NaN
1661   1661  20合川投资PPN001   100.00    6.9876    0.15    6.9876     NaN

[1662 rows x 7 columns]

In [19]:

bond_china_yield_df = ak.bond_china_yield(start_date="2021-1-05", end_date="2021-1-05")
bond_china_yield_df.shape

(3, 10)

In [20]:
day='2021-01-05'
# import akshare as
import datetime
today=datetime.datetime.strptime(day,'%Y-%m-%d')
today

datetime.datetime(2021, 1, 5, 0, 0)

In [21]:
today_line=bond_china_yield_df[bond_china_yield_df['曲线名称']=='中债中短期票据收益率曲线(AAA)'].iloc[0]
today_line=today_line.iloc[2:-1]
today_line.index=[3/12,6/12,1,3,5,7,10]
today_line

0.25     2.5197
0.50     2.7796
1.00     3.0698
3.00     3.5431
5.00     3.8101
7.00     3.9878
10.00    4.1227
Name: 2, dtype: object

In [22]:
day_line=pd.Series(index=[0.25,0.50]+[i for i in range(1,11)],dtype=float)
for one in day_line.index:
    if one in today_line.index:
        day_line.loc[one]=today_line[one]
    else:
        year0=(today_line[today_line.index<one].index[-1])
        year1=(today_line[today_line.index>one].index[0])
        rate0=(today_line[today_line.index<one].iloc[-1])
        rate1=(today_line[today_line.index>one].iloc[0])
        day_line.loc[one]=round((rate0+(one-year0)/(year1-year0)*(rate1-rate0)),4)
day_line

0.25     2.5197
0.50     2.7796
1.00     3.0698
2.00     3.3064
3.00     3.5431
4.00     3.6766
5.00     3.8101
6.00     3.8990
7.00     3.9878
8.00     4.0328
9.00     4.0777
10.00    4.1227
dtype: float64

In [23]:
deal_df=pd.read_excel('./data/BondDeal/中票.xlsx')
deal_df

    Unnamed: 0      剩余期限             简称            收益率       评级      year
0            0      295D   18铜陵有色MTN003              4      AAA  0.808219
1            1      306D     18鞍钢MTN001           3.95      AAA  0.838356
2            2  0.93Y+2Y     18长电MTN001           3.10      AAA  0.930137
3            3  353D(休1)   18中银投资MTN001           3.25      AAA  0.967123
4            4     1.06Y    19中电信MTN001           3.11      AAA  1.060000
5            5     1.18Y     19格力MTN001           3.34      AAA  1.180000
6            6     1.27Y    20金融城建GN001           4.12   AA/AAA  1.270137
7            7   1.32Y+N   19上饶投资MTN001           4.70      AAA  1.320000
8            8     1.41Y   19闽西兴杭MTN001           3.44      AAA  1.409863
9            9     1.47Y       12中船MTN1           3.30      AAA  1.469863
10          10     1.51Y    19鲁钢铁MTN002            5.7      AAA  1.509863
11          11  1.56Y+2Y   19绍兴交投MTN003           3.38      AAA  1.560000
12          12     1.62Y     19吉利MTN002           4.02      AAA  1.620000
13          13   1.68Y+N     19东航MTN001           3.79      AAA  1.680000
14          14  1.77Y+2Y         20万达02         6.60行权      AAA  1.769863
15          15     2.18Y     20南电MTN004           3.33      AAA  2.180000
16          16     2.18Y     20南电MTN004           3.33      AAA  2.180000
17          17     2.19Y     20南电MTN006           3.33      AAA  2.190137
18          18     2.24Y    18常城建MTN003           3.75      AAA  2.240000
19          19   2.28Y+N    20华侨城MTN002           4.10      AAA  2.280000
20          20   2.28Y+N    20华侨城MTN002           4.10      AAA  2.280000
21          21     2.32Y    20南航股MTN009           3.52      AAA  2.320000
22          22     2.35Y     20正泰MTN001           4.20  AA+/AAA  2.350137
23          23     2.43Y   18新盛建设MTN003           3.72      AAA  2.430137
24          24     2.47Y    20汇金MTN008A           3.37      AAA  2.470137
25          25    2.5Y+N   20中交天津MTN001            5.6  AA+/AAA  2.500000
26          26     2.58Y   18萧山国资MTN002           3.66      AAA  2.580000
27          27     2.58Y   18萧山国资MTN002           3.66      AAA  2.580000
28          28  2.64Y+2Y  20诚通控股MTN001A  20诚通控股MTN001A      AAA  2.640000
29          29   2.65Y+N   20京能电力MTN001           4.25      AAA  2.649863
30          30     2.78Y    18冀港集MTN002           3.99      AAA  2.780000
31          31   2.81Y+N    20华侨城MTN005           4.25      AAA  2.810137
32          32   2.81Y+N    20华侨城MTN005           4.25      AAA  2.810137
33          33   2.84Y+N   20华发集团MTN004           5.00      AAA  2.840000
34          34   2.84Y+N    20华侨城MTN006           4.26      AAA  2.840000
35          35   2.84Y+N    20华侨城MTN006           4.26      AAA  2.840000
36          36     3.02Y    19中石油MTN001           3.40      AAA  3.020000
37          37     3.02Y    19中石油MTN001           3.40      AAA  3.020000
38          38     4.16Y    20南京地铁GN001           3.70      AAA  4.160000
39          39      4.2Y     20汇金MTN004           3.60      AAA  4.200000
40          40     4.28Y   20天津轨交MTN001              5      AAA  4.280000
41          41     4.31Y     20汇金MTN006           3.60      AAA  4.309863
42          42      4.4Y     20南电MTN008           3.61      AAA  4.400000

In [24]:
small_df=deal_df
import re
def pred_rate(year):
    if year<1 and year<0.5:
        y0=0.25
        y1=0.5
    if year<1 and year>0.5:
        y0=0.5
        y1=1
    else:
        y0=int(year)
        y1=y0+1
#     print(y0)
#     print(year)
    rate=day_line.loc[y0]+(year-y0)*(day_line.loc[y1]-day_line.loc[y0])
    return rate
small_df=small_df[(small_df['day']/365>0.5)&(small_df['day']/365<5)]
small_df['real_ytm']=small_df['收益率'].apply(lambda x:float(re.findall('\d+\.\d+|(?<!-)\d+',x)[0]))
small_df['比较基准']=(small_df['day']/365).apply(lambda x:pred_rate(x))
small_df['利差']=small_df['real_ytm']-small_df['比较基准']

# small_df=small_df[(small_df['利差']<3)] # 利差小于300bp的
# small_df[0]=0

# sns.scatterplot(small_df['剩余期限'],small_df['利差'])
small_df

KeyError: 'day'

In [5]:
# 设置绘图
from matplotlib import pyplot as plt
import seaborn as sns
sns.set()
#设置字体为SimHei显示中文
plt.rcParams['font.sans-serif'] = 'SimHei'
#设置正常显示字符
plt.rcParams['axes.unicode_minus'] = False

In [6]:
sns.scatterplot(small_df['day']/365,small_df['real_ytm'])
# plt.ylim(2,10)
plt.xlim(0.5,5)
plt.plot(day_line,'r')

NameError: name 'small_df' is not defined

In [1]:
# help(pd.DataFrame().to_html)

            weekday trade_day
jyrq
2021-01-27        4         1
2021-01-28        5         1
2021-01-29        6         1
2021-01-30        7         0
2021-01-31        1         0

In [23]:
import datetime 
today=datetime.datetime.now().date()

'2021-01-29'

In [24]:
import requests
import json
import pandas as pd

In [52]:
def sjs_calender(month_str):
    url='http://www.szse.cn/api/report/exchange/onepersistenthour/monthList?month={}'.format(month_str)
    res=requests.get(url)
    res_data=json.loads(res.text)['data']
    df=pd.DataFrame(res_data).set_index('jyrq')
    df.columns=['weekday','trade_day']
    return df

def get_next_tradeday(date_str):
    year=int(date_str[0:4])
    month=int(date_str[5:7])
    if month != 12:
        next_month='{}-{}'.format(year,month+1)
    else:
        next_month='{}-{}'.format(year+1,'01')
    df=pd.concat([sjs_calender(date_str[:7]),sjs_calender(next_month)])
    after_today = df.loc[date_str:].iloc[1:]
    next_trade_day= after_today[after_today['trade_day']=='1'].index[0]
    return next_trade_day
get_next_tradeday(str(today))

'2021-02-01'